includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	phpVersion: 80000

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src

	ignoreErrors:
		-
			message: "#^Call to deprecated method validateConfig\\(\\) of class Nette\\\\DI\\\\CompilerExtension\\:\nuse getConfigSchema\\(\\)$#"
			count: 1
			path: src/DI/ComgateExtension24.php
		-
			message: "#^Class Nette\\\\DI\\\\Statement does not have a constructor and must be instantiated without any parameters\\.$#"
			count: 1
			path: src/DI/ComgateExtension24.php
		-
			message: """
				#^Instantiation of deprecated class Nette\\\\DI\\\\Statement\\:
				use Nette\\\\DI\\\\Definitions\\\\Statement$#
			"""
			count: 1
			path: src/DI/ComgateExtension24.php
